h1 {
    text-align: center;
}
.lead {
    text-align: center;
}
.wrapper {
    margin: 50px;
}
body{
    margin: 30px;
}
.table-div {
    margin: auto;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

table {
  overflow: hidden;
}

tr:hover {
  background-color: #ffa;
}

td, th {
  position: relative;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}